<div class="profile-box">
  <%= image_tag @profile.avatar.url(:small), class: "profile-photo" %>


  <div class="profile-info">

  <h3><%= @profile.username %>'s Profile</h3>
  <p>Birthday: <%= @profile.birthday %></p>

  <% if signed_in? %>
    <% if current_user.created?(@profile) %>
      <%= button_to "Edit Profile", [:edit, @user, @profile], method: :get %>
      <%= button_to "Inbox", [@user, :messages], method: :get %>
    <% end %>
  <% end %>

</div>

  <p><%= @profile.description %></p>

  <div class="tags">
    <% @profile.tags.each do |tag| %>
      <%= link_to tag.name, tag, class: "tag" %>
    <% end %>
  </div>

  <% if @user != current_user %>
    <fieldset>
      <p>Send <%= @profile.username %> a message!</p>

      <%= form_for [@user, @message] do |form| %>
        <%= render "error_messages", target: @message %>
        <%= form.text_area :body, placeholder: "Enter message here" %>
        <%= form.submit "Message" %>
      <% end %>
    </fieldset>
  <% end %>
</div>
