<h2>Edit Forum</h2>

<%= form_for @forum do |form| %>
  <%= form.label :name, "Forum name" %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit "Edit Forum" %>
<% end %>
