<h2>Forums</h2>

<% breadcrumb :forums %>

<% if signed_in? %>
  <% if current_user.admin? %>
    <%= button_to "NEW FORUM", [:new, :forum], method: :get, class: "round-button" %>
  <% end %>
<% end %>

<table>
  <tr>
    <th class="header-forum">Forum</th>
    <th width="header-last">Last Post</th>
    <th>Posts</th>
    <th>Views</th>
    <% if signed_in? %>
      <% if current_user.admin? %>
        <th>Edit forum</th>
        <th>Delete forum</th>
      <% end %>
    <% end %>
  </tr>
  <% @forums.each do |forum| %>
    <tr>
      <td><h4><%= link_to forum.name, forum_path(forum.id) %></h4>
        <small><%= forum.topics.count %> topics</small><br/>
        <%= forum.description %></td>
      <td>Latest Post</td>
      <td>Posts</td>
      <td>Views</td>
      <% if signed_in? %>
        <% if current_user.admin? %>
          <td><%= link_to "Edit", [:edit, forum] %></td>
          <td><%= link_to "Destroy", forum, method: :delete %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @forums %>
