<%= form_for @forum do |form| %>
  <fieldset>
    <h3>Add a new Forum</h3>
    <%= render "error_messages", target: @forum %>

    <%= form.label :name, "Forum name" %>
    <%= form.text_field :name %>

    <%= form.label :description %>
    <%= form.text_area :description %>

    <%= form.submit "Create Forum" %>
  </fieldset>
<% end %>
