<% breadcrumb @forum %>

<p>Forum description: <%= @forum.description %></p>

<%= button_to "NEW TOPIC", [:new, @forum, :topic], method: :get, class: "round-button" %>

<table class="table-borders">
  <thead>
    <tr>
      <th>Topic Title</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.recent.each do |topic| %>
      <tr>
        <td><%= link_to h(topic.name), [@forum, topic] %></td>
        <td><%= topic.replies %></td>
        <td>Views</td>
        <td>Last post</td>
        <td><button><%= link_to "Flag", [@forum, topic, :topic_spams], method: :post %></button></td>
        <% if current_user.has_permission?(topic) %>
          <td><button><%= link_to "Destroy", [@forum, topic], method: :delete %></button></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @topics %>
