<% breadcrumb @forum %>

<p>Forum description: <%= @forum.description %></p>

<%= button_to "NEW TOPIC", [:new, @forum, :topic], method: :get, class: "round-button" %>

<table class="table-borders">
  <thead>
    <tr>
      <th>Topic Title</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Last Post</th>
      <th>Edit Post</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.recent.each do |topic| %>
      <tr>
        <td><%= link_to h(topic.name), [@forum, topic] %></td>
        <td><%= topic.replies %></td>
        <td>Views</td>
        <td class="right"></td>
        <td><button><%= link_to "Show", [@forum, topic] %></button></td>
        <td><button><%= link_to "Edit", [:edit, @forum, topic] %></button></td>
        <td><button><%= link_to "Destroy", [@forum, topic], method: :delete %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @topics %>
