<%= form_for [@forum, @topic] do |form| %>
  <fieldset>
    <h3>Create a New Topic</h3>
    <%= render "error_messages", target: @topic %>

    <%= form.label :name, "Topic" %>
    <%= form.text_field :name %>

    <%= form.fields_for :posts do |posts_form| %>
      <%= posts_form.label :body %>
      <%= posts_form.text_area :body %>
    <% end %>

    <%= form.submit "Submit" %>
  </fieldset>
<% end %>
