<% breadcrumb @topic %>

<div class="reply-button">
  <%= button_to "POST REPLY", [:new, @forum, @topic, :post], method: :get, class: "round-button" %>
</div>

<% @topics.recent.each do |post| %>
  <div class="post">
    <div class="user-info">
      <div class="username">
        <h4><%= post.user.username %></h4>
      </div>
      <%= link_to(user_profile_path(post.user.profile), title: post.user.username) do %>
        <%= image_tag(post.user.profile.avatar(:small), class: "forum-avatar") %>
      <% end %>
    </div>
    <div class="post-text">
      <div class="post-body">
        <p class="time">Posted on: <%= time_tag post.created_at %></p>
        <p><%= post.body %></p>
      </div>
      <div class="buttons">
        <% if signed_in? %>
            <%= link_to "Flag Post |", [post, :post_spams], method: :post %>
          <% if current_user.created?(post) %>
              <%= link_to "Edit |", [:edit, @forum, @topic, post] %>
            <% end %>
          <% if current_user.has_permission?(post) %>
            <%= link_to "Delete", [@forum, @topic], method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="reply-button">
  <%= button_to "POST REPLY", [:new, @forum, @topic, :post], method: :get, class: "round-button" %>
</div>

<% if signed_in? %>
  <% if current_user.has_permission?(@topic) %>
    <%= button_to "Destroy Topic", [@forum, @topic], method: :delete, class: "round-button" %>
  <% end %>
<% end %>

<%= paginate @topics %>
