<% breadcrumb @topic %>

<div class="reply-button">
  <%= button_to "POST REPLY", [:new, @forum, @topic, :post], method: :get, class: "round-button" %>
</div>

<% @topics.recent.each do |post| %>
  <div class="post">
    <div class="user-info">
      <div class="username">
        <h4><%= post.user.username %></h4>
      </div>
      <%= image_tag post.user.profile.avatar(:small), class: "forum-avatar" %>
    </div>
    <div class="post-body">
      <div>
        <p>Posted on: <%= time_tag post.created_at %></p>
        <p><%= post.body %></p>
      </div>
      <div class="buttons">
        <% if current_user.created?(post) %>
          <%= button_to "Edit", [:edit, @forum, @topic, post], method: :get %>
        <% end %>
        <% if current_user.has_permission?(post) %>
          <%= button_to "Delete", [@forum, @topic], method: :delete %>
        <% end %>
      </div>
      <%= link_to "Flag as spam", [post, :post_spams], method: :post %>
    </div>
  </div>
<% end %>

<div class="reply-button">
  <%= button_to "POST REPLY", [:new, @forum, @topic, :post], method: :get, class: "round-button" %>
</div>

<%= link_to "Destroy Topic", [@forum, @topic], method: :delete %>

<%= paginate @topics %>
