<div class="landing-sign-in">
  <div>
    <h3>Sign up!</h3>
  </div>
  <%= form_for @user do |form| %>
    <%= render "error_messages", target: @user %>
    <div>
      <%= render "flashes" %>
    </div>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.text_field :username, placeholder: "Enter a username" %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    <div>
      <%= form.submit "Sign up" %>
    </div>
  <% end %>
</div>

<div class="bottom_text">
  <%= render "bottom_nav_menu" %>
</div>
