<div class="comment">
  <div class="comment-image">
    <%= image_tag response.user.profile.avatar(:medium) %>
  </div>
  <div class="comment-content">
    <h1><%= response.user.username %></h1>
    <p><%= response.body %><p>
    <p class="comment-detail">Posted on <%= time_tag response.created_at %></p>
    <% if signed_in? %>
      <% if current_user.has_permission?(response) %>
        <%= link_to "Delete", response, method: :delete %>
      <% end %>
    <% end %>

    <div class="reply-form">
      <% if ! response.child? %>
        <%= form_for [response, @child] do |form| %>
          <%= form.text_area :body, placeholder: "Reply" %>
          <%= form.submit "RESPOND", class: "round-button" %>
        <% end %>
      <% end %>
    </div>

    <div class="replies">
      <%= render response.children %>
    </div>
  </div>
</div>
