<%= div_for story, class: "card" do %>
  <div class="card-image">
    <%= image_tag story.image %>
  </div>
  <div class="card-header">
    <%= story.title %>
  </div>
  <div class="card-copy">
    <p><%= truncate(story.body, length: 200, separator: ' ') { link_to " READ MORE >>", story } %></p>
  </div>
  <div class="card-stats">
    <ul>
      <li><%= story.likes.count %><span>Hearts</span></li>
      <li><%= time_ago_in_words(story.created_at) %><span>ago</span></li>
      <li><%= story.responses.count %><span>Responses</span></li>
    </ul>
  </div>
  <div class="card-footer">
    <ul>
      <% if signed_in? && current_user.likes?(story) %>
        <li>
        <%= link_to([story, :like], method: :delete) do %>
          <span><div class="heart-clicked"></div></span>
        <% end %>
        </li>
      <% else %>
        <li>
        <%= link_to([story, :like], method: :post) do %>
          <span><div class="heart"></div></span>
        <% end %>
        </li>
      <% end %>

      <%= form_for [story, @response] do |form| %>
        <%= form.text_area :body, placeholder: "Add a response" %>
        <%= form.submit "Respond" %>
      <% end %>
    </ul>
  </div>
<% end %>
