<%= form_for @story, html: { multipart: true }  do |form| %>
  <fieldset>
    <h3>Edit your story</h3>
    <%= render "error_messages", target: @story %>
    <div>
      <%= form.text_field :title, placeholder: "Title" %>
    </div>
    <div>
      <%= form.text_area :body, placeholder: "Body" %>
    </div>
    <div>
      <%= form.text_area :tag_list, placeholder: "Enter tags here" %>
    </div>
    <div>
    <% if @story.image? %>
      <p>You currently have this image:<p>
      <%= image_tag @story.image %>

      <%= form.label :image, "Choose a new image:" %>
      <%= form.file_field :image %>

      <%= form.label :image_delete, "Remove Image" %>
      <%= check_box_tag(:image_delete)  %>
    <% else %>
      <%= form.label :image, "Upload an image with your story" %>
      <%= form.file_field :image %>
    <% end %>
      <%= form.submit "Update Story" %>
  <% end %>
</fieldset>
</div>
