<div>
  <div>
    <%= @story.title %>
  </div>
  <div>
    <%= @story.body %>
  </div>
  <div>
    <%= image_tag @story.image %>
  </div>
  <div>
    Created by: <%= @story.user.username %>
  </div>

  <h2>Tags:</h2>

  <div>
    <% @story.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </div>

  <div>
    <%= link_to "Edit Story", [:edit, @story] %>
    <%= link_to "Delete Story", [@story], method: :delete %>
  </div>

  <h2>Responses:</h2>

  <% @responses.each do |response| %>
    <div>
      <%= response.body %>
    </div>
    <div>
      <p>By: <%= response.user.username %></p>
      <%= image_tag response.user.profile.avatar(:medium), class: "profile-photo" %>
    </div>
    <div>
      <p>Date posted: <%= time_tag response.created_at %></p>
    </div>
  <% end %>
</div>
