<%= form_for [@forum, @topic, @post] do |form| %>
  <fieldset>
    <h3>Reply to post</h3>
    <%= render "error_messages", target: @post %>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= form.submit "Edit" %>
  </fieldset>
<% end %>
