<!DOCTYPE html>
<html>
  <head>
    <title>I am Mixed</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "nav_menu" %>

    <div class="container">
      <div class="page">
        <%= render "logo" %>
        <%= render "breadcrumbs"  %>
        <%= yield %>
      </div>
    </div>

    <%= render "footer" %>
  </body>
</html>
